/* General layout */
.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left side with the image */
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #88BDBC; /* Light background color */
}

.image-container {
  width: 80%;
  height: 80%;
  background-color: 88BDBC; /* Light green background for the square */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.background-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover; /* Make sure the image covers the container */
}

/* Right side with the form */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-box {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #254E58; /* Adjust according to your color scheme */
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #6e6658; /* Label color */
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #88BDBC; /* Focused border color */
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #88BDBC;
  text-decoration: none;
  margin-top: 5px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.remember-me input {
  margin-right: 10px;
}

/* Primary button */
.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #254E58;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1c3b47;
}

/* Social login button */
.btn-google {
  margin-top: 20px;
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-google:hover {
  background-color: #444;
}

/* Sign up link */
.sign-up {
  margin-top: 20px;
}

.sign-up p {
  font-size: 14px;
}

.sign-up a {
  color: #88BDBC;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
}

/* Error message */
.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}
