.option-probability{
  position: relative;
  top:30px;
  left: 10px;
}
.form-results-container {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.probability-form {
  flex: 1;
  margin-right: 40px; /* Space between form and results */
}

.results {
  flex: 1;
  max-width: 300px; /* Limit the width of the results panel */
}

@media (max-width: 768px) {
  .form-results-container {
    flex-direction: column;
  }

  .probability-form, .results {
    max-width: 100%;
    margin-right: 0;
  }
}
